---
---
@import url(http://fonts.googleapis.com/css?family=Allura);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import 'configuration';

body {
  position: relative;
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  background-color: white;
  color: white;
  overflow-x: hidden;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: large;
  border-top: 1px solid $grey-color;
  background-color: white;
  color: $grey-color;
  box-shadow: 0px 0px 15px black;
  .names {
    font-family: 'mr_sheffieldregular', cursive;
    font-size: xx-large;
    line-height: .9;
  }
  .credit {
    font-size: small;
    a {
      color: $grey-color;
      text-decoration: underline;
    }
  }
}

h1 {
  font-family: 'mr_sheffieldregular', cursive;
  font-size: 46px;
}

h2 {
  small {
    color: $dark-grey; 
  }
}

p {
  line-height: 1.75;
}

.shadowed {
  box-shadow: inset 0px 0px 15px black;
}

section {
  padding-top: 3em;
  padding-bottom: 6.5em;
  background-image: url('/images/slate_blue.jpg');
  min-height: 100vh;
  h1 {
    margin-bottom: .3em;
    text-align: center;
    font-size: 80px;
  }
  hr {
    width: 30%;
    border: 1px solid white;
    margin-top: 0;
    margin-bottom: 3.5em;
  }
}

.cutin{
  color: $grey-color;
  padding-top: 5em;
  padding-bottom: 5em;
  min-height: 5em;
  box-shadow: inset 0px 0px 15px black;
  background-size: cover;
  background-position: center;
  .quote {
    font-size: 18px;
    padding: 0;
    background-color: transparent;
    border: 25px solid transparent;
    -moz-border-image: url("/images/geometry-border3.png") 25 25 stretch;
    -webkit-border-image: url("/images/geometry-border3.png") 25 25 stretch;
    -o-border-image: url("/images/geometry-border3.png") 25 25 stretch;
    border-image: url("/images/geometry-border3.png") 25 25 stretch;
    .quote-inner {
      background-color: white;
      padding-top: .5em;
      padding-bottom: .5em;
    }
    hr {
      width: 10%;
      border-color: $grey-color;
    }
    .translation {
      font-style: oblique;
    }
    .author {
      text-align: center;
    }
  }
  h1 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 18px;
  }
}

@import 'nav';

@import 'landing';

@import 'about';

@import 'gallery';

@import 'bridal';

@import 'festivities';

@import 'travel';

@import 'stay';

@import 'location';

@import 'registry';