---
---
@import url(http://fonts.googleapis.com/css?family=Satisfy);

footer {
  background-color: white;
  text-align: center;
  padding: 10px 0 0 0;
}
ul.social {
  list-style: none;
}
.social li {
  display: inline-block;
  padding:0 1em 0 1em;
}
#background {
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:-1;
  background:white center center no-repeat;
  background-size:cover;
}
.navbar-toggle img {
  height:40px;
}

h1 {
  font-family: 'Satisfy', cursive;
}