---
---
@import 'configuration';

.jumbotron {
  margin-top: 10%;
  background-color: rgba(100,100,100,0.25);
  color: white;
}

#background{
  background-image: url("/images/ring_background.jpg");
}

.section {
	background-color: $primary-color;
}

.cutin {
	margin-top: 5em;
	margin-bottom: 5em;
	min-height: 5em;
	background-color: $primary-color;
}