---
layout: default
sections:
  -
    name: The Couple
    id: about
    content: about_us.html
  -
    name: Gallery
    id: gallery
    content: gallery.html
  -
    name: Bridal Party
    id: bridal
    content: party_holder.html
  -
    name: Festivities
    id: events
    content: festivities.html
    before: festivities
    background: /images/backgrounds/ravello.jpg
  -
    name: Travel
    id: travel
    content: travel.html
    before: travel
    background: /images/backgrounds/colleseum.jpg
  -
    name: Stay
    id: stay
    content: stay.html
    before: stay
    background: /images/backgrounds/naples.jpg
  -
    name: Ravello
    id: ravello
    content: location.html
    before: ravello
    background: /images/backgrounds/coast_map.jpg
  -
    name: Registry
    id: registry
    content: registry.html
    before: registry
    background: /images/backgrounds/night_boats.jpg
---
<img id="stamp" src="/images/stamp.png" />
<header class="container-fluid">
	<nav class="navbar-fixed-top collapse">
		<ul class="hidable">
			{% for item in page.sections %}
				<li><a href="#{{ item.id }}">{{ item.name }}</a></li>
				{% if forloop.last %}
				{% else %}
				<li class="spacer">&middot;</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="cover hidable" onmousedown="$('nav .hidable').removeClass('unhide')"></div>
		<div class="expand-button btn" onclick="$('nav .hidable').toggleClass('unhide');">
			<span class="fa fa-bars fa-3x"></span>
		</div>
	</nav>
</header>
{% include landing.html %}
{% for item in page.sections %}
{% if item.before %}
<div class="container-fluid cutin" data-parallax="scroll" data-image-src="{{ item.background }}" data-speed="0.0">
	{% include cutins.html cutin=item.before %}
</div>
{% endif %}
<section class="container-fluid" id="{{ item.id }}">
{% include {{item.content}} %}
</section>
{% endfor %}
<footer class="container-fluid">
	<div class="row text-center" style="padding-top: .5em;">
		<span class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">A <span class="names">Gabriella & Chris</span> Production</span>
	</div>
	<div class="row text-center">
		<span class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 credit">Photography by <a target="_blank" href="http://www.rinocordella.com/">Rino Cordella</a></span>
	</div>
</footer>