---
layout: default
sections:
  -
    name: The Couple
    id: about
    content: about_us.html
  -
    name: Gallery
    id: gallery
    content: gallery.html
  -
    name: Bridal Party
    id: bridal
    content: party_holder.html
  -
    name: Festivities
    id: events
    content: festivities.html
    before: festivities
    background: /images/ravello.jpg
  -
    name: Travel
    id: travel
    content: travel.html
    before: travel
    background: /images/colleseum.jpg
  -
    name: Stay
    id: stay
    content: stay.html
    before: stay
    background: /images/naples.jpg
  -
    name: Ravello
    id: ravello
    content: location.html
    before: ravello
    background: /images/coast.jpg
  -
    name: Registry
    id: registry
    content: registry.html
    before: registry
    background: /images/limone.jpg
---
<img id="stamp" src="/images/stamp.png" />
<header>
	<nav class="navbar-fixed-top collapse">
		<div class="container-fluid">
			<ul class="hidable">
				{% for item in page.sections %}
					<li><a href="#{{ item.id }}">{{ item.name }}</a></li>
					{% if forloop.last %}
					{% else %}
					<li class="spacer">&middot;</li>
					{% endif %}
				{% endfor %}
			</ul>
			<div class="expand-button btn" onclick="$('nav ul.hidable').toggleClass('unhide');">
				<span class="fa fa-bars fa-3x"></span>
			</div>
		</div>
	</nav>
</header>
<div class="container-fluid shadowed" data-parallax="scroll" data-image-src="/images/landing.jpg" data-speed="0.0">
	<div class="row landing">
		<div class="row">
			<div class="col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1 strike">
				<time id="wedding-date" datetime="2016-07-06T16:00:00+02:00" class="text">July <span class="pip"></span> 6 <span class="pip"></span> 2016</time>
			</div>
		</div>
		<div class="row">
			<h1>Gabriella <em>&amp;</em> Christopher</h1>
		</div>
		<div class="row">
			<div class="col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1 strike">
				<span class="text">Ravello, Italia</span>
			</div>
		</div>
		<div class="down">
			<button class="btn-lg" data-scroll-to="#about">
				<span class="fa fa-caret-down fa-2x" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div id="count-down" class="row">
		<div class="col-xs-3 col-lg-2 col-lg-offset-1">
			<div id="days-to-go">0</div>Days
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="hours-to-go">0</div> Hours
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="minutes-to-go">0</div> Min
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="seconds-to-go">0</div> Sec
		</div>
		<div class="col-xs-12 col-lg-3 border-left title">
			Till We Celebrate
		</div>
	</div>
</div>
{% for item in page.sections %}
{% if item.before %}
<div class="container-fluid cutin" data-parallax="scroll" data-image-src="{{ item.background }}" data-speed="0.0">
	{% include cutins.html cutin=item.before %}
</div>
{% endif %}
<section class="container-fluid" id="{{ item.id }}">
{% include {{item.content}} %}
</section>
{% endfor %}
<footer class="container-fluid">
	<div class="row text-center" style="padding-top: .5em;">
		<span class="col-xs-4 col-xs-offset-4">A <span class="names">Gabriella & Chris</span> Production</span>
	</div>
	<div class="row text-center">
		<span class="col-xs-4 col-xs-offset-4 credit">Photography by <a target="_blank" href="http://www.rinocordella.com/">Rino Cordella</a></span>
	</div>
</footer>