<h1 class="row">The Couple</h1>
<div class="row text-center">
	<img class="col-xs-6 col-md-2 col-md-offset-3" src="/images/gabriella_photo.jpg" width="300px" />
	<img class="col-xs-6 col-md-2 col-md-offset-2" src="/images/chris_photo.jpg" width="300px" />
</div>
<div class="row text-center">
	<div class="col-xs-6 col-md-4 col-md-offset-2">
		<h3> Gabriella <small>rosa</small> Addonisio</h3>
		<ul> 
			<li>Georgia peach.</li>
			<li>Product manager.</li> 
			<li>Amateur sommelier.</li>
			<li>World traveler.</li>
			<li>Runs to the gate.</li>
			<li>Hand-talker.</li>
			<li>Hooked on phonics.</li>
			<li>Compulsive list-maker.</li>
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h3> Christopher <small>andrew</small> Pardy</h3>
		<ul>
			<li>Haligonian.</li>
			<li>Software developer.</li>
			<li>Beer snob.</li>
			<li>Eagle scout.</li>
			<li>Shows up 2 hours before the flight.</li>
			<li>Mumbler extraordinaire.</li>
			<li>Cat rescuer.</li>
			<li>Hopeless romantic.</li>
		</ul>
	</div>
</div>
<h2 class="row">Together as One</h2>
<div class="row">
	<p class="col-xs-12">It all started in 2012 when two coworkers took a buisness trip to Amsterdam. She was the product manager he was the lead developer. Getting on the airplane they were mistaken for a couple - clearly a sign of things to come. While exploring the city together, they started talking and realized that they shared a love of food, cooking, company, and exploring old European cities. Coming back home they stayed friends, hosted a few dinner parties. Finally after 6 months Chris got up the nerve to tell Gabriella how he felt, only to realize that she was in Italy for 2 weeks and completely unreachable. When she finally got back they had dinner, drinks, and then went out to the Esplanade and sitting on a park bench overlooking the Charles River and decided that they wanted to have dinner together again the next night.</p>
	<p class="col-xs-12">After about 540 nights of having dinner together Chris concocted an elaborate plan to convince Gabriella to go out to dinner with him. After dinner he brought her out to the Esplanade, to the park bench that they'd sat on during their first date. There in the freezing cold Chris got down on one knee opened the </p>
</div>