<div class="row bridal-party">
	<div class="col-sm-6 col-xs-12 left">
		<h1>Bridesmaids</h1>
		<div class="container-fluid">
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 right">
		<h1 class="row">Groomsmen</h1>
		<div id="groomsman-carousel" class="carousel slide row">
			<div class="row carousel-header">
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="0" class="carousel-image active" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="1" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="2" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="3" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item row active">
					<h2>Stephen Pardy
					<small>Bestman</small></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui. Donec id fermentum quam. Suspendisse ullamcorper volutpat condimentum. Etiam sit amet placerat libero, eget semper dui. Vestibulum pellentesque venenatis lacinia. Cras sollicitudin dapibus fringilla. Quisque aliquam gravida tellus vel hendrerit. In hac habitasse platea dictumst.</p>
				</div>
				<div class="item row">
					<h2>Stephen Pardy - Also a Groomsman</h2>
					<p>Groomsman 1</p>
				</div>
				<div class="item row">
					<p class="col-md-12">Groomsman 2</p>
				</div>
				<div class="item row">
					<p class="col-md-12">Junior Groomsman</p>
				</div>
			</div>
		</div>
	</div>
</div>