<div class="row">
	<div class="col-sm-6 col-xs-12 left-align">
		<h1>Bridesmaids</h1>
		<div id="bridesmaids-carousel" class="carousel slide row">
			<div class="row carousel-header">
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="0" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="1" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="2" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="3" class="carousel-image active" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item left-align row">
					<h2 class="col-xs-12">Ciara  <small>Junior Bridesmaid</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item left-align row">
					<h2 class="col-xs-12">Katherine Shea <small>Bridesmaid</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item left-align row">
					<h2 class="col-xs-12">Emilie Rabehi <small>Bridesmaid</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item left-align row active">
					<h2 class="col-xs-12" >Katherine Sultenfuss <small>Maid of Honor</small></h2>
					<p class="col-xs-12" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 right-align">
		<h1 class="row">Groomsmen</h1>
		<div id="groomsman-carousel" class="carousel slide row">
			<div class="row carousel-header">
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="0" class="carousel-image active" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="1" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="2" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="3" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item right-align row active">
					<h2 class="col-xs-12">Stephen Pardy <small>Bestman</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Michael Addonisio <small>Groomsman</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Ben LaVerriere <small>Groomsman</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Joeseph Addonisio <small>Junior Groomsman</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
			</div>
		</div>
	</div>
</div>