<div class="row">
	<div class="col-sm-6 col-xs-12 left-align">
		<h1>Bridesmaids</h1>
		<div id="bridesmaids-carousel" class="carousel slide row">
			<div class="row carousel-header">
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="0" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="1" class="carousel-image" src="/images/kathy.png" alt="Katherine Shea" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="2" class="carousel-image" src="/images/emilie_2.png" alt="Emilie Rabehi" />
				</div>
				<div class="col-xs-3">
					<img data-target="#bridesmaids-carousel" data-slide-to="3" class="carousel-image active" src="/images/katherine.png" alt="Katherine Sultenfuss" />
				</div>
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item left-align row">
					<h2 class="col-xs-12">Ciara  <small>Junior Bridesmaid</small></h2>
					<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nunc odio. Aliquam erat volutpat. Vivamus sit amet semper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh quam, facilisis ut nibh sit amet, molestie molestie dui.</p>
				</div>
				<div class="item left-align row">
					<h2 class="col-xs-12">Katherine Shea <small>Bridesmaid</small></h2>
					<p class="col-xs-12">Katherine and Gabriella started off as co-workers, then became neighbors, and soon friends. Gabriella ...</p>
				</div>
				<div class="item left-align row">
					<h2 class="col-xs-12">Emilie Rabehi <small>Bridesmaid</small></h2>
					<p class="col-xs-12">Emilie has lived and traveled all over the world so it's no surprise that when she eventually made her way to Boston Gabriella and her became fast friends. Gabriella introduced Emilie to Thanksgiving and...</p>
				</div>
				<div class="item left-align row active">
					<h2 class="col-xs-12" >Katherine Sultenfuss <small>Maid of Honor</small></h2>
					<p class="col-xs-12">Katherine has been Gabriella's best friend since they were in high school. Over the years they've been with each other through relationship ups and downs, traveled the world together and stayed friends dispite being so far away. Gabriella is thrilled that Katherine agreed to be her maid of honor...</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 right-align">
		<h1 class="row">Groomsmen</h1>
		<div id="groomsman-carousel" class="carousel slide row">
			<div class="row carousel-header">
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="0" class="carousel-image active" src="/images/stephen.png" alt="Stephen Pardy" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="1" class="carousel-image" src="/images/michael.png" alt="Michael Addonisio" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="2" class="carousel-image" src="/images/ben.png" alt="Ben LaVerriere" />
				</div>
				<div class="col-xs-3">
					<img data-target="#groomsman-carousel" data-slide-to="3" class="carousel-image" src="/images/stephen.jpg" alt="Stephen Pardy" />
				</div>
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item right-align row active">
					<h2 class="col-xs-12">Stephen Pardy <small>Bestman</small></h2>
					<p class="col-xs-12">Stephen has been Chris's brother since he was born. In the interveening 25 years he has also been there as a traveling companion, fellow adventurer, lego master builder, and ocassional partner in crime. Chris knew that there was only one person that he could ever want to be his Bestman.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Michael Addonisio <small>Groomsman</small></h2>
					<p class="col-xs-12">Michael is the sort of person who would loan you the shirt off his back, or stick up for you in a fight. In short he's the kind of guy who you'd want with you if you get into trouble, but also the one who may have gotten you into trouble. Chris is excited to have Michael as a brother-in-law, and a groomsman.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Ben LaVerriere <small>Groomsman</small></h2>
					<p class="col-xs-12">Chris and Ben became friends when they ended up on a semester long school project together and then watched as one-by-one the other 3 people in their group dropped out of the class. Since then Ben's been an amazing friend, fellow cook, and beer conisour, and now groomsman.</p>
				</div>
				<div class="item right-align row">
					<h2 class="col-xs-12">Joseph Addonisio <small>Junior Groomsman</small></h2>
					<p class="col-xs-12">"You didn't to ask Joeseph's permission?" was not the first thing that Gabriella said to Chris after he proposed to her, more like the fourth. After-all in Gabriella's eyes Joeseph is still her adorable baby brother from 12 years ago. Chris is happy that Joeseph forgave him and is joining him as a junior groomsman.</p>
				</div>
			</div>
		</div>
	</div>
</div>