{% case include.cutin %}
{% when 'about' %}
<div class="row">
<p class="col-xs-4 col-xs-offset-4 quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit libero quis ex dapibus, et hendrerit ligula tempus. Integer vel tortor luctus, ullamcorper erat id, egestas nisl. Praesent enim ligula, venenatis eget consectetur nec, mattis non nibh. Nunc sed molestie sapien. Fusce posuere ex nunc, eget egestas eros ornare a. Nam nec ullamcorper neque. Curabitur sodales elit vel tincidunt blandit. Nullam consectetur magna sit amet porta mattis. Duis id convallis ligula, ac commodo turpis.</p>
</div>
{% when 'festivities' %}
<div class="row">
<p class="col-xs-4 col-xs-offset-4 quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit libero quis ex dapibus, et hendrerit ligula tempus. Integer vel tortor luctus, ullamcorper erat id, egestas nisl. Praesent enim ligula, venenatis eget consectetur nec, mattis non nibh. Nunc sed molestie sapien. Fusce posuere ex nunc, eget egestas eros ornare a. Nam nec ullamcorper neque. Curabitur sodales elit vel tincidunt blandit. Nullam consectetur magna sit amet porta mattis. Duis id convallis ligula, ac commodo turpis.</p>
</div>
{% when 'ravello' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 text-center quote">
		<h1>Il mistero di Ravello</h1>
		<hr />
		<p>Su nude rupi<br>
		erte sopra il mare<br>
		ti nascondi, Ravello<br>
		come nido di numi<br>
		o paese di fiabe.</p>
		<p>Le tue bianche case<br>
		le tue mirabili chiese<br>
		non vantan pretese<br>
		al turista</p>
		<p>venuto quassù<br>
		sol per vedere<br>
		quel che nascondi<br>
		nei cieli lontani<br>
		nei mari profondi</p>
		<p>dove, tra il pulviscolo<br>
		d'oro dello spazio,<br>
		il mistero dell'infinito<br>
		vive........</p>
		<div class="author">
			PIERO MOLESINI<br>
			1974
		</div>
	</div>
</div>
{% endcase %}