{% case include.cutin %}
{% when 'festivities' %}
<div class="row">
	<p class="col-xs-4 col-xs-offset-4 text-center quote">Dove regna il vino non regna il silenzio</p>
</div>
{% when 'travel' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 quote">
		<p>Traveling is the ruin of all happiness! There's no looking at a building after seeing Italy.</p>
		<div class="author">Fanny Burney</div>
	</div>
</div>
{% when 'ravello' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 text-center quote">
		<h1>Il mistero di Ravello</h1>
		<hr />
		<p>Su nude rupi<br>
		erte sopra il mare<br>
		ti nascondi, Ravello<br>
		come nido di numi<br>
		o paese di fiabe.</p>
		<p>Le tue bianche case<br>
		le tue mirabili chiese<br>
		non vantan pretese<br>
		al turista</p>
		<p>venuto quassù<br>
		sol per vedere<br>
		quel che nascondi<br>
		nei cieli lontani<br>
		nei mari profondi</p>
		<p>dove, tra il pulviscolo<br>
		d'oro dello spazio,<br>
		il mistero dell'infinito<br>
		vive........</p>
		<div class="author">
			PIERO MOLESINI<br>
			1974
		</div>
	</div>
</div>
{% endcase %}