{% case include.cutin %}
{% when 'festivities' %}
<div class="row">
	<div class="col-xs-4 col-xs-offset-4 text-center quote">
		<div class="quote-inner">
			<p class="text-center">Mangia bene, ridi spesso, ama molto</p>
			<p class="text-center translation">Eat well, laugh often, love a lot</p>
			<div class="author">Anonymous</div>
		</div>
	</div>
</div>
{% when 'travel' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 quote">
		<div class="quote-inner">
			<p class="text-center">Traveling is the ruin of all happiness! There's no looking at a building after seeing Italy.</p>
			<div class="author">Fanny Burney</div>
		</div>
	</div>
</div>
{% when 'stay' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 quote">
		<div class="quote-inner">
			<p class="text-center">Napoli is a beautiful woman in a dirty dress.</p>
			<div class="author">Anonymous</div>
		</div>
	</div>
</div>
{% when 'ravello' %}
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5 text-center quote">
		<div class="quote-inner">
			<h1>Il mistero di Ravello</h1>
			<hr />
			<p>Su nude rupi<br>
			erte sopra il mare<br>
			ti nascondi, Ravello<br>
			come nido di numi<br>
			o paese di fiabe.</p>
			<p>Le tue bianche case<br>
			le tue mirabili chiese<br>
			non vantan pretese<br>
			al turista</p>
			<p>venuto quassù<br>
			sol per vedere<br>
			quel che nascondi<br>
			nei cieli lontani<br>
			nei mari profondi</p>
			<p>dove, tra il pulviscolo<br>
			d'oro dello spazio,<br>
			il mistero dell'infinito<br>
			vive........</p>
			<div class="author">
				PIERO MOLESINI<br>
				1974
			</div>
		</div>
	</div>
</div>
{% when 'registry' %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 quote">
		<div class="quote-inner">
			<p class="text-center">Anni, amori, e bicchieri di vino; nun se contano mai.<p>
			<p class="translation text-center">Years, lovers, and glasses of wine; these things must not be counted.</p>
			<div class="author">Anthony Capella</div>
		</div>
	</div>
</div>
{% endcase %}