<hr />
<h1 class="row">Festivities</h1>
<div class="row">
	<p class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">We're so excited to have you join us in Ravello for our wedding! We know many of you are coming from far away so we want to make sure that this trip can be as special for you as our wedding day is for us.</p>
</div>
<div class="row">
	<div id="festive-carousel" class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1 carousel slide">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/ravello1.jpg" />
					</div>
					<div class="col-xs-6">
						<h2> Welcome to Ravello!</h2>
						<p>Meet Gabriella & Christopher for a welcome cocktail. We'll be down at the sea side in Atrani? by the beach with spritzes in our hands</p>
					</div>
					<div class="col-xs-3">
						<h3>Ristorante Something</h3>
						<p>Sunday July 3rd</p>
						<h3>Attire</h3>
						<p>We'll be at the beach, so wear your flip-flops and shorts.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/ravello2.jpg" />
					</div>
					<div class="col-xs-6">
						<h2>Journey to Erculanum</h2>
						<p> We'll be coordinating a group trip to the ruins of the ancient Roman city of Erculanum. Details are TBD but we'll make sure it's updated here!</p>
					</div>
					<div class="col-xs-3">
						<h3>Ravello town center</h3>
						<p>Monday July 4th</p>
						<h3>Attire</h3>
						<p>Come dressed for adventure, walking shoes and summer clothes.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/ravello1.jpg" />
					</div>
					<div class="col-xs-6">
						<h2 class="text-center">The Big Day</h2>
						<ul class="text-center">
							<li>4 pm - Ceremony, Duomo Ravello</li>
							<li>5 pm - Toast to the couple</li>
							<li>6 pm - Walk Hotel Caruso for cocktail hour</li>
							<li>7 pm - Dinner</li>
							<li>9 pm - Cutting of the Cake and Dancing</li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h3>Duomo Ravello</h3>
						<p>Wednesday July 6th 4:00pm</p>
						<h3>Attire</h3>
						<p>Be dressed to the nines and bring your dancing shoes.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/ravello2.jpg" />
					</div>
					<div class="col-xs-6">
						<h2>The Send Off</h2>
						<p>With the party over come by and join us for coffee, fruit, pastries, and maybe just a small glass of wine.</p>
					</div>
					<div class="col-xs-3">
						<h3>Villa something something</h3>
						<p>Thrusday July 7th</p>
						<h3>Attire</h3>
						<p>Keep it casual, this is a buffet sort of affair.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row carousel-header text-center">
			<div class="col-xs-3 control active" data-target="#festive-carousel" data-slide-to="0">
				<div class="indicator"></div>
				<h4>Welcome to Ravello!</h4>
				July 3rd
			</div>
			<div class="col-xs-3 control" data-target="#festive-carousel" data-slide-to="1">
				<div class="indicator"></div>
				<h4>Journey to Erculanum</h4>
				July 4rd
			</div>
			<div class="col-xs-3 control" data-target="#festive-carousel" data-slide-to="2">
				<div class="indicator"></div>
				<h4>The Big Day</h4>
				July 6th
			</div>
			<div class="col-xs-3 control" data-target="#festive-carousel" data-slide-to="3">
				<div class="indicator"></div>
				<h4>Send Off</h4>
				July 7th
			</div>
		</div>
	</div>
</div>
