<h1>Festivities</h1>
<div class="row">
	<p class="col-xs-6 col-xs-offset-3">We're so excited to have you join us in Ravello for our wedding! We know many of you are coming from far away so we want to make sure that this trip can be as special for you as our wedding day is for us.</p>
</div>
<div class="row">
	<div id="festive-carousel" class="col-xs-10 col-xs-offset-1 carousel slide">
		<div class="carousel-inner" role="listbox">
			<div class="item row active">
				<h2 class="text-center">July 3rd <small>Welcome to Ravello</small></h2>
				<p class="text-center">Meet Gabriella & Christopher for a welcome cocktail.</p>
			</div>
			<div class="item row">
				<h2 class="text-center">July 4th <small>Journey to Erculanum</small></h2>
				<p class="text-center">We'll be coordinating a group trip to the ruins of the ancient Roman city of Erculanum. Details are TBD but we'll make sure it's updated here!</p>
			</div>
			<div class="item row">
				<h2 class="text-center">July 5th <small>Choose your own Adventure!</small></h2>
				<p class="text-center">This is your day to explore the Amalfi coast.</p>
			</div>
			<div class="item row">
				<h2 class="text-center">July 6th <small>The Big Day</small></h2>
				<ul class="text-center">
					<li>4 pm - Ceremony, Duomo Ravello</li>
					<li>5 pm - Toast to the couple</li>
					<li>6 pm - Walk Hotel Caruso for cocktail hour</li>
					<li>7 pm - Dinner</li>
					<li>9 pm - Cutting of the Cake and Dancing</li>
				</ul>
			</div>
			<div class="item row">
				<h2 class="text-center">July 7th<small>The Send Off</small></h2>
				<p class="text-center">Send off the couple at brunch.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		July 3rd
	</div>
	<div class="col-xs-2">
		July 4rd
	</div>
	<div class="col-xs-2">
		July 5th
	</div>
	<div class="col-xs-2">
		July 6th
	</div>
	<div class="col-xs-2">
		July 7th
	</div>
</div>