<hr />
<h1 class="row">Festivities</h1>
<div class="row">
	<div id="festive-carousel" class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1 carousel slide">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/welcome_2.jpg" style="margin-left: -60px;" />
					</div>
					<div class="col-xs-9 festive-content-outer">
						<div class="row festive-content-inner">
							<div class="col-xs-7">
								<h2>Benvenuti in Italia</h2>
								<p>Save Water - Drink Lemoncello</p>
								<p>We are so excited to have you join us in Italy for our wedding! We know many of you are coming from far away so we want to make sure that this trip is as special for you as it is for us. Let's start the week off right with a toast. We expect you to be busy exploring the coast, in our opinon one of the most beautiful places on earth, but when you are tired and in need of a break stop by to share a drink and enjoy the view. </p>
							</div>
							<div class="col-xs-5 festive-time">
								<h3>Location TBD, <small>some cute local bar</small></h3>
								<time datetime="2016-07-03T18:00:00+02:00">Sunday, July&nbsp;3rd</time>
								<h3>Attire</h3>
								<p>Come as you are. Tonight is casual.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/herculaneum2.jpg" />
					</div>
					<div class="col-xs-9 festive-content-outer">
						<div class="row festive-content-inner">
							<div class="col-xs-7">
								<h2>Journey to Herculaneum</h2>
								<p>We will get to happily ever after soon enough. First let's explore this beautiful and historic area. If you choose to come, we will arrange transportation for the group from Ravello to the ruins of the ancient Roman city of Herculaneum. Like Pompeii, Herculaneum was buried in the 79AD eruption of Vesuvius, but remians more entact. Details are TBD but be aware that this will likey take all day.</p>
							</div>
							<div class="col-xs-5 festive-time">
								<h3>Herculaneum</h3>
								<time datetime="2016-07-04T00:00:00+02:00">Monday, July&nbsp;4th</time>
								<h3>Attire</h3>
								<p>Come dressed for adventure, walking shoes and summer layers. Fedoras optional.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/ravello3c.jpg" style="margin-left: -100px;" />
					</div>
					<div class="col-xs-9 festive-content-outer">
						<div class="row festive-content-inner">
							<div class="col-xs-7">
								<h2>Ceremony</h2>
								<p>Finally the day we've all been waiting for. We've got a full day for festivities planned, but it all starts at the Duomo in the town center where we'll say our vows in front of friends and family.</p>
							</div>
							<div class="col-xs-5 festive-time">
								<h3>Duomo Ravello</h3>
								<time datetime="2016-07-06T15:30:00+02:00">Wednesday, July&nbsp;6th</time>
								<h3>Attire</h3>
								<p>Prepare to dress your best for a grand evening! Formal black tie is welcome. Beware that it is a 15 minute uphill walk to the garden recception venue- choose your footwear accordingly.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/caruso.jpg" style="margin-left: -100px;" />
					</div>
					<div class="col-xs-9 festive-content-outer">
						<div class="row festive-content-inner">
							<div class="col-xs-7">
								<h2>Dinner & Dancing</h2>
								<p>Eat. Drink. Laugh. Love. Get ready to party the night away! We will begin in the garden with cocktail hour and follow with an authentic italian meal. Most importantly- we can't wait to share the breathtaking panoramic view with you. </p>
							</div>
							<div class="col-xs-5 festive-time">
								<h3>Belmond Hotel Caruso</h3>
								<time datetime="2016-07-06T18:00:00+02:00">Wednesday, July&nbsp;6th</time>
								<h3>Attire</h3>
								<p>Keep it classy but feel free to ditch the tie. Bonus points will be awarded for traditional Neapolitan costume.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="festive-content row">
					<div class="col-xs-3 image">
						<img src="/images/brunch.jpg" />
					</div>
					<div class="col-xs-9 festive-content-outer">
						<div class="row festive-content-inner">
							<div class="col-xs-7">
								<h2>The Send Off</h2>
								<p>Rise and Shine! We've said I do, now lets raise a glass or two. Stay a little longer to spend more time together. Location and time tbd.</p>
							</div>
							<div class="col-xs-5 festive-time">
								<h3>Location TBD</h3>
								<time datetime="2016-07-07T12:00:00+02:00">Thursday, July&nbsp;7th</time>
								<h3>Attire</h3>
								<p>Keep it casual, whatever it takes to get you out of bed!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row carousel-header text-center">
			<div class="col-xs-2 col-xs-offset-1 control active" data-target="#festive-carousel" data-slide-to="0">
				<div class="indicator"></div>
				<h4>Welcome Drinks</h4>
				July 3rd
			</div>
			<div class="col-xs-2 control" data-target="#festive-carousel" data-slide-to="1">
				<div class="indicator"></div>
				<h4>Field Trip</h4>
				July 4th
			</div>
			<div class="col-xs-2 control" data-target="#festive-carousel" data-slide-to="2">
				<div class="indicator"></div>
				<h4>Ceremony</h4>
				July 6th
			</div>
			<div class="col-xs-2 control" data-target="#festive-carousel" data-slide-to="3">
				<div class="indicator"></div>
				<h4>Reception</h4>
				July 6th
			</div>
			<div class="col-xs-2 control" data-target="#festive-carousel" data-slide-to="4">
				<div class="indicator"></div>
				<h4>Brunch</h4>
				July 7th
			</div>
		</div>
	</div>
</div>
