<footer class="navbar-fixed-bottom">
  <div class="container">
    <ul class="social row">
      <li><a href="https://www.facebook.com/1221720066/posts/10203378562164393/"><img src="/images/FB-Logo.png" alt="facebook" /></a></li>
      <li><a href="https://www.pinterest.com/lellabella7/our-beautiful-day/"><img src="/images/Pinterest-Badge.png" alt="pinterest" /></a></li>
      <li><a href="https://github.com/chris-pardy/chris-pardy.github.io"><img src="/images/GitHub-Mark.png" alt="Github" /></a></li>
    </ul>
  </div>
</footer>