<div class="row shadowed" data-parallax="scroll" data-image-src="/images/backgrounds/field_2.jpg" data-speed="0.0">
	<div class="row landing">
		<div class="row">
			<div class="col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1 strike">
				<time id="wedding-date" datetime="2016-07-06T16:00:00+02:00" class="text">July <span class="pip"></span> 6 <span class="pip"></span> 2016</time>
			</div>
		</div>
		<div class="row">
			<h1>Gabriella <em>&amp;</em> Christopher</h1>
		</div>
		<div class="row">
			<div class="col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1 strike">
				<span class="text">Ravello, Italia</span>
			</div>
		</div>
		<div class="down hidden-xs">
			<button class="btn-lg" data-scroll-to="#about">
				<span class="fa fa-caret-down fa-2x" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div id="count-down" class="row">
		<div class="col-xs-3 col-lg-2 col-lg-offset-1">
			<div id="days-to-go">0</div>Days
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="hours-to-go">0</div> Hours
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="minutes-to-go">0</div> Min
		</div>
		<div class="col-xs-3 col-lg-2">
			<div id="seconds-to-go">0</div> Sec
		</div>
		<div class="col-xs-12 col-lg-3 border-left title">
			Till We Celebrate
		</div>
	</div>
</div>