<hr />
<h1 class="row">Why Ravello</h1>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <p>The Amalfi coast is not far from where Gabriella's parents meet and married. For Gabriella it represents fond childhood memories from family vacations there, for Chris it was love at first visit. Ravello, official <em>music town</em> of the Amalfi Coast has, more than other towns on the Amalfi Coast, offered escape throughout history. Be it Romans fleeing barbarian invasions or those seeking inspiration like artist M.C Escher or composer Richard Wagner. It's peaceful atmosphere, fascinating streets with small alleys and little squares, and ancient noble villas all greatly kept make Ravello the jewel of the Amalfi coast.</p>
    <p>Here are a few of our favorite things...</p>
  </div>
</div>
<div id="location-carousel" class="row carousel">
  <div class="row carousel-header">
    <h2 class="text-center col-xs-12"><a class="control active" data-target="#location-carousel" data-slide-to="0" data-track-event="click" data-track-label="to see">Things&nbsp;To&nbsp;See</a><span class="visible-xs-block"></span><span class="hidden-xs"> | </span><a class="control" data-target="#location-carousel" data-slide-to="1" data-track-event="click" data-track-label="to do">Things&nbsp;To&nbsp;Eat</a></h2>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row block-row">
        <div class="col-md-4 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/caruso.jpg" />
            <h3>Villa Cimbrone</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g194873-d243307-Reviews-Villa_Cimbrone_Gardens-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="villa cimbrone tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.villacimbrone.com/en/tour.php" data-track-event="click" data-track-label="villa cimbrone website">Website</a>
              <address>Via Santa Chiara, 26, 84010 Ravello SA, Italia</address>
              <div class="price">9:00 am - sunset, €&nbsp;7.00&nbsp;/&nbsp;ticket</div>
            </div>
            <p>Villa Cimbrone is an 11th century Villa turned hotel and park, only a 10 minute walk from the center of town down quaint cobblestone streets. Walk the <em>Terrazzo dell'lnfinito</em> where the Mediterranean and the sky run together in a view that Gore Vidal called “the most beautiful view in the world”. Or stroll the terraced gardens, regarded as one of the most stunning examples of English style landscapes in Europe.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
          <img class="image-top" src="/images/locations/rufolo.jpg" />
            <h3>Villa Rufolo</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g194873-d243308-Reviews-Villa_Rufolo-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="villa rufolo tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.villarufolo.it/home.html" data-track-event="click" data-track-label="villa rufolo website">Website</a>
              <a taget="_blank" href="http://www.ravelloarts.org/festival/" data-track-event="click" data-track-label="villa rufolo arts scociety">Ravello&nbsp;Art's&nbsp;Scociety</a>
              <address>Piazza Duomo, 84010 Ravello SA, Italia</address>
              <div class="price">9:00 am - 8:00 pm, €&nbsp;5.00&nbsp;/&nbsp;ticket</div>
            </div>
            <p>Right off the piazza, Villa Rufolo is the smaller of Ravello's two gardens but no less beautiful. The 13th century villa is also host to an annual summer concert series thrown by the Ravello Art's Society that features piano concerts, chamber music, and a grand orchestral performance on a stage built jutting out over the Mediterranean Sea. We recommend buying tickets in advance!</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/capri.jpg" />
            <h3>Capri</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attractions-g187783-Activities-Capri_Island_of_Capri_Province_of_Naples_Campania.html" data-track-event="click" data-track-label="capri tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.capri.com/en/ferry-schedule" data-track-event="click" data-track-label="capri.com ferry schedules">Ferry Schedules</a>
            </div>
            <p>Perfect for a day trip or an overnight visit, Capri is just short boat ride from Amalfi. The beautiful island served as a retreat from Roman city life for the Emperor Tiberius who built numerous Villas on the island. The island now plays home to two small towns, Capri and Anacapri. However what Capri is most famous for are the waters surrounding it, you can journey by boat to see the White Grotto, or the world famous Blue Grotto, as well as the picturesque Faraglioni.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-3 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/hike.jpg" />
            <h3>Hiking</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g194873-d2069165-Reviews-Il_sentiero_degli_Dei-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="sentiero deli dei tripadvisor">Sentiero deli Dei</a>
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g187780-d4135835-Reviews-Valle_delle_Ferriere-Amalfi_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="valle delle ferriere tripadvisor">Valle delle Ferriere</a>
            </div>
            <p>With it's breathtaking coastal views and relatively undeveloped mountain sides the hiking along the Amalfi Coast is unrivaled. Sentiero degli Dei, or Path of the Gods, is the most famous hike between Bomerano and Positano, cutting through mountain gorges and skirting precarious cliff sides all while offering panoramic views of the Mediterranean. It's easiest to start in Bomerano which is reachable by bus via an Amalfi connection. Nearby is Valle delle Ferriere which loops from Ravello through Atrani, Amalfi, Pogerola, and Scala before returning to Ravello. Make sure to bring along some water!</p>
          </div>
        </div>
        <div class="col-md-2 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/pompeii.jpg" />
            <h3>Pompeii</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g187786-d195477-Reviews-Ancient_Pompeii-Pompeii_Province_of_Naples_Campania.html" data-track-event="click" data-track-label="pompeii tripadvisor">TripAdvisor</a>
              <div class="price">8:30 am - 7:30 pm, €&nbsp;11.00&nbsp;/&nbsp;ticket</div>
            </div>
            <p>To the north of the Amalfi coast lie the ruins of the ancient Roman cities of Pompeii and Herculaneum. Buried in ash after the eruption of Mt. Vesuvius these towns have been preserved for centuries giving you a glimpse at how Romans lived, as well as the horrible tragedy. Pompeii is reachable by train from Sorrento or Napoli.</p>
          </div>
        </div>
        <div class="col-md-5 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/reggia.jpg" />
            <h3>Reggia di Caserta</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g194713-d1391264-Reviews-The_Royal_Palace_at_Caserta-Caserta_Province_of_Caserta_Campania.html" data-track-event="click" data-track-label="reggia di caserta tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.reggiadicaserta.beniculturali.it/" data-track-event="click" data-track-label="reggia di caserta website">Website</a>
              <address>Viale Douhet, 2/a, 81100 Caserta CE, Italia</address>
              <div class="price">8:30 am - 6:00 pm, €&nbsp;12.00&nbsp;/&nbsp;ticket</div>
            </div>
            <p>From Napoli it's a short train ride to Caserta where Gabriella's parents grew up. There in the former seat of the Kingdom of Naples is the Reggia di Caserta, home to the Bourbon kings of Naples during the Baroque era. It is noted as one of the largest (47,000 square meters) and most beautiful palaces in the world and a perfect example of Baroque era opulence. The splendor of the palace inside is only matched by the 120 hectare park behind it, home to miniature castles and artificial ponds in which the princes would practice their land and naval warfare, as well as stunning fountains and botanical gardens.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-3 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/christmas.jpg" />
            <h3>Via San Gregorio Armeno</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g187785-d195422-Reviews-Via_San_Gregorio_Armeno-Naples_Province_of_Naples_Campania.html" data-track-event="click" data-track-label="via san gregorio armeno tripadvisor">TripAdvisor</a>
              <address>Napoli, Italia</address>
            </div>
            <p>In the heart of Napoli, Via San Gregorio Armeno is known as Christmas Alley. Home to the craftsmen of the Presepio, world famous ceramic Christmas figurines. Stroll down the street to see some of the wonderful, and weird creations, or step into a shop to pick up a truly unique souvenir. And it's right around the corner from some of the best pizza on earth!</p>
          </div>
        </div>
        <div class="col-md-4 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/vietpottery.jpeg" />
            <h3>Vietri Sul Mare</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Attractions-g635617-Activities-Vietri_sul_Mare_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="vietri sul mare tripadvisor">TripAdvisor</a>
            </div>
            <p>The Amalfi coast is known for many things, amongst them it's beauty and it's world famous ceramics. While all the towns along the coast have their own locally made products Vietri offers shop after shop with an un-paralleled selection. Vietri is on the Sita bus line towards Salerno.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/artecard.jpg" />
            <h3>Campania Artecard</h3>
            <div class="more-info">
              <a target="_blank" href="http://www.campaniartecard.it/en/" data-track-event="click" data-track-label="campania artecard website">Artecard</a>
              <a target="_blank" href="http://www.coopculture.it/en/circuito.cfm?id=5" data-track-event="click" data-track-label="coop culture website">Coop Culture</a>
              <div class="price">€ 32.00 for 3 days, € 34.00 for 7 days</div>
            </div>
            <p>If you're planning on exploring the Campania region picking up the Campania Artecard is a great way to gain free admission and discounted entry to many of the must see places in the area. Including free admission to Pompeii, Herculaneum, Reggia di Caserta, and others. Also included is free use of the public transport system throughout the region, including buses and trains along the Amalfi coast.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row block-row">
        <div class="col-md-4 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/pizza.jpg" />
            <h3>Mimi Bar Pizzeria</h3>
            <h4>Ravello</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g194873-d7067960-Reviews-Mimi_Bar_Pizzeria-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="mimi pizzeria tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.mimiravello.com/pizzeria.htm" data-track-event="click" data-track-label="mimi pizzeria website">Website</a>
              <address>Via S. Francesco, 12, 84010 Ravello SA, Italia</address>
              <div class="hours">12:30 pm - 3:30 pm, 7:00 pm - 10:30 pm</div>
              <div class="price">€€</div>
            </div>
            <p>You haven't eaten pizza until you've eaten pizza in Italy, and while each region has their own specialty the Napolitano style with its thin crispy crust and delicious toppings is by far our favorite. Tucked away just off the town square Mimi makes up for their lack of a view with delicious food and rustic ambiance.</p>
          </div>
        </div>
        <div class="col-md-6 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/villa_maria.jpg" />
            <h3>Ristorante Villa Maria</h3>
            <h4>Ravello</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g194873-d1545214-Reviews-Villa_Maria_Restaurant-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="ristorante villa maria tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.villamaria.it/restaurant-eng.aspx" data-track-event="click" data-track-label="ristorante villa maria website">Website</a>
              <address>Via Santa Chiara, 84010 Ravello SA, Italia</address>
              <div class="price">€ and up</div>
            </div>
            <p>You would think you're in heaven sitting on the patio of Ristorante Villa Maria, shaded by old trees and vines while drinking in the view of the surrounding mountains as well as an excellent glass of wine. The menu features local specialties like Spaghetti alle vongole made with vegetables sourced from the restaurant's own organic garden.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-3 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/del_moro.jpg" />
            <h3>Al Ristoro del Moro</h3>
            <h4>Ravello</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g194873-d1461939-Reviews-Al_Ristoro_del_Moro-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="al ristoro del moro tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.alristorodelmoro.com/en/" data-track-event="click" data-track-label="al risoro del moro website">Website</a>
              <address>Via della Repubblica, 10, Ravello SA, Italia</address>
              <div class="hours">12:30 pm – 3:00 pm, 7:30 pm – 10:00 pm</div>
              <div class="price">€€€€</div>
            </div>
            <p>Just a few minutes walk out of the center of town. Make sure to request a seat on their balcony overlooking the outskirts of Ravello and the town of Minori below. With classic local dishes like polpo and filetto di orata presented with a touch of elegance fitting the setting, Al Ristoro del Moro is an excellence choice for a magical dinner out.</p>
          </div>
        </div>
        <div class="col-md-4 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/la_strada.jpg" />
            <h3>La Strada</h3>
            <h4>Praiano</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g194867-d1549120-Reviews-La_Strada-Praiano_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="la strada tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.lastradaristorante.it/en/index.html" data-track-event="click" data-track-label="la strada website">Website</a>
              <address>Via Gennaro Capriglione, 178, 84010 Praiano SA, Italia</address>
              <div class="hours">12:30 pm – 3:00 pm, 6:30 pm – 12:00 am</div>
              <div class="price">€€€</div>
            </div>
            <p>In the small town of Praiano along the main road La Strada offers classic Italian home cooking of pizza, pasta, and pesce. While the main floor has the classic warm vibe of a lot of the small family restaurants in the area it's their top floor with it's large open air patio with amazing views that makes this a must visit location.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/la_terra.jpg" />
            <h3>La Terra</h3>
            <h4>Positano</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g1996592-d2275960-Reviews-La_Terra-Montepertuso_Positano_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="la terra tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.ristorantelaterra.com/il-ristorante" data-track-event="click" data-track-label="la terra website">Website</a>
              <address>Via Tagliata, 14, 84017 Positano SA, Italia</address>
              <div class="hours">12:00&nbsp;pm&nbsp;–&nbsp;3:00&nbsp;pm, 6:30&nbsp;pm&nbsp;–&nbsp;10:15&nbsp;pm</div>
              <div class="price">€€€€</div>
            </div>
            <p>About an hour from Ravello near the mountain town of Nocelle, La Terra offers delicious food with a view of the Mediterranean and surrounding mountains from it's position perched on the cliffs. It's warm and inviting staff, and classic Italian cuisine give it's breathtaking views something to strive for.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-5 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/locations/le_palme.jpg" />
            <h3>Le Palme Ristorante Pizzeria</h3>
            <h4>Atrani</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g635619-d1473698-Reviews-Le_Palme_Ristorante_Pizzeria-Atrani_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="le palme tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.amalfiholidaylepalme.com/en/ristorante/" data-track-event="click" data-track-label="le palme website">Website</a> 
              <address>Via Supportico Marinella, 84010 Atrani, Italia</address>
              <div class="price">€€€€</div>
            </div>
            <p>Head down the hill from Ravello and you'll reach the small coastal town of Atrani. Here just off the beach, nestled amongst the unique coastal architecture of the city is the Pizzeria, Le Palme. Sit outside on their patio, order a pizza or some octopus salad and a good wine, and realize how simple life can be - good food, good friends, good wine. We take no responsibility if this makes your favorite pizza place back home seem a little lackluster.</p>
          </div>
        </div>
        <div class="col-md-5 block-col">
          <div class="block">
          <img class="image-top" src="/images/locations/pansa.jpg" />
            <h3>Cioccolato e Gelato Andrea Pansa</h3>
            <h4>Amalfi</h4>
            <div class="more-info">
              <a target="_blank" href="http://www.tripadvisor.com/Restaurant_Review-g187780-d6499715-Reviews-Cioccolato_e_Gelato_Andrea_Pansa-Amalfi_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="andrea pansa tripadvisor">TripAdvisor</a>
              <a target="_blank" href="http://www.andreapansa.it/" data-track-event="click" data-track-label="andrea pansa website">Website</a>
              <address>Via Duca Mansone I, 40, 84011 Amalfi SA, Italia</address>
              <div class="hours">7:30 am - 11:00 pm</div>
              <div class="price">€€</div>
            </div>
            <p>Right in the bustling town square of Amalfi, Andre Pansa showcases the great Italian artisanship with pastries, chocolates, coffee, and gelato. A great place to take a break from the shopping and sight seeing of Amalfi and people-watch. You can either relax with a cone of gelato, or if you're looking for a pick-me-up so you can continue exploring we'd recommend a <em>Shakerato</em>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
