<hr />
<h1 class="row">Ravello</h1>
<div class="row">
  <p class="col-xs-10 col-xs-offset-1 text-center">Ravello, official <em>music town</em> of the Amalfi Coast has, more than other towns on the Amalfi Coast, offered escape throughout history. Be it Romans fleeing barbarian invasions or those seeking inspiration like artist M.C Escher or composer Richard Wagner. It's peaceful atmosphere, fascinating streets with small alleys and little squares, and ancient noble villas all greatly kept make Ravello the jewel of the Amalfi coast.</p>
</div>
<div id="location-carousel" class="row carousel">
  <div class="row carousel-header">
    <h2 class="text-center col-xs-4 col-xs-offset-4"><a class="control active" data-target="#location-carousel" data-slide-to="0">Explore</a> / <a class="control" data-target="#location-carousel" data-slide-to="1">Eat</a> / <a class="control">Drink</a></h2>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row block-row">
        <div class="col-xs-3 col-xs-offset-1 block-col">
          <div class="block">
            <h3 class="text-center">Capri</h3>
              <p>Just off of Sorrento and a short boat ride from Atrani or Amalfi lies the beautiful island of Capri. The island served as a retreat from Roman city life for the Emporor Tiberius who built numerous Villas on the island. The island now plays home to two small towns, Capri and Anacapri and offers hiking resturants and shopping. However what Capri is most famous for are the waters surronding it, you can journey by boat to see the White Grotto, or world famous Blue Grotto, as well as the picturesque Faraglioni.</p>
          </div>
        </div>
        <div class="col-xs-4 block-col">
          <div class="block">
            <h3 class="text-center">Hiking</h3>
            <p>With it's breathtaking coastal views and ...</p>
          </div>
        </div>
        <div class="col-xs-3 block-col">
          <div class="block">
            <h3 class="text-center">Pompeii</h3>
              <p>To the north of the Amalfi coast lie the ruins of the ancient Roman cities of Pompeii and Erculanum. Burried in ash after the erruption of Mt. Vesuvius these towns have been preserved for centuries giving you a glimpse at how Romans lived, as well as the horrible tragady. Pompeii is reachable by train from Sorrento.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-sm-4 col-sm-offset-1 col-xs-5 block-col">
          <div class="block">
            <img class="image-top" src="/images/caserta.jpg" />
            <h3 class="text-center">Reggia di Caserta</h3>
            <p>From Naples it's a short train ride to Caserta where Gabriella's parents are from. There in the former seat of the Kingdom of Naples is the Reggia di Caserta, home to the Bourbon kings of Naples during the Baroque era. Noted as one of the largest (47,000 square meters) and most beautiful palaces in the world and a perfect example of Baroque era opulence. The splendor of the palace inside is only matched by the 120 hectare park behind it, home to miniture castles and artifical ponds in which the princes would practice their land and naval warefare, as well as stunning fountains and botanical gardens.</p>
          </div>
        </div>
        <div class="col-sm-2 col-xs-3 block-col">
          <div class="block">
            <h3 class="text-center">Vietri Sul Mare</h3>
            <p>The Amalfi coast is known for many things, amongst them it's beautry and it's world famous ceramnics. While all the towns along the coast have their own locally made products Vietri offers shop after shop with an un-parelleled selection. Vietri is on the Sita bus line towards Salerno.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4 block-col">
          <div class="block">
            <h3 class="text-center">Ravello</h3>
            <p>Why venture away when there's so much at hand! Concert series and tours of the gardens at Villa Rufolo. The Wagner Gardens and Belvedere Terrace at Villa Chimbrone. The small side alleys and local artisan shops</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row block-row">
        <div class="col-xs-5 col-xs-offset-1 block-col">
          <div class="block">
            <h3 class="text-center">Mimi Bar Pizzeria</h3>
              <p>You haven't eaten pizza until you've eaten pizza in Italy. Tucked away off the </p>
          </div>
        </div>
        <div class="col-xs-2 block-col">
          <div class="block">
            <h3 class="text-center">Something Else</h3>
            <p>With it's breathtaking coastal views and ...</p>
          </div>
        </div>
        <div class="col-xs-3 block-col">
          <div class="block">
            <h3 class="text-center">Hotel Someplace</h3>
              <p>To the north of the Amalfi coast lie the ruins of the ancient Roman cities of Pompeii and Erculanum. Burried in ash after the erruption of Mt. Vesuvius these towns have been preserved for centuries giving you a glimpse at how Romans lived, as well as the horrible tragady. Pompeii is reachable by train from Sorrento.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-xs-4 col-xs-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/caserta.jpg" />
            <h3 class="text-center">Reggia di Caserta</h3>
            <p>From Naples it's a short train ride to Caserta where Gabriella's parents are from. There in the former seat of the Kingdom of Naples is the Reggia di Caserta, home to the Bourbon kings of Naples during the Baroque era. Noted as one of the largest (47,000 square meters) and most beautiful palaces in the world and a perfect example of Baroque era opulence. The splendor of the palace inside is only matched by the 120 hectare park behind it, home to miniture castles and artifical ponds in which the princes would practice their land and naval warefare, as well as stunning fountains and botanical gardens.</p>
          </div>
        </div>
        <div class="col-xs-2 block-col">
          <div class="block">
            <h3 class="text-center">Vietri Sul Mare</h3>
            <p>The Amalfi coast is known for many things, amongst them it's beautry and it's world famous ceramnics. While all the towns along the coast have their own locally made products Vietri offers shop after shop with an un-parelleled selection. Vietri is on the Sita bus line towards Salerno.</p>
          </div>
        </div>
        <div class="col-xs-4 block-col">
          <div class="block">
            <h3 class="text-center">Ravello</h3>
            <p>Why venture away when there's so much at hand! Concert series and tours of the gardens at Villa Rufolo. The Wagner Gardens and Belvedere Terrace at Villa Chimbrone. The small side alleys and local artisan shops</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
