<hr />
<h1 class="row">Ravello</h1>
<div class="row">
  <p class="col-xs-10 col-xs-offset-1 text-center">Ravello, official <em>music town</em> of the Amalfi Coast has, more than other towns on the Amalfi Coast, offered escape throughout history. Be it Romans fleeing barbarian invasions or those seeking inspiration like artist M.C Escher or composer Richard Wagner. It's peaceful atmosphere, fascinating streets with small alleys and little squares, and ancient noble villas all greatly kept make Ravello the jewel of the Amalfi coast.</p>
</div>
<div id="location-carousel" class="row carousel">
  <div class="row carousel-header">
    <h2 class="text-center col-xs-12"><a class="control active" data-target="#location-carousel" data-slide-to="0">What&nbsp;To&nbsp;See</a> / <a class="control" data-target="#location-carousel" data-slide-to="1">Where&nbsp;To&nbsp;Eat</a></h2>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row block-row">
        <div class="col-md-4 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/ravello_view.jpg" />
            <h3 class="text-center">Villa Cimbrone</h3>
            <p>Villa Cimbrone is an 11th centruy Villa turned hotel and park, only a 10 minute walk from the center of town down quaint cobblestone streets. Walk the Belvedere terrace where the mediterranian and the sky run together in a view that Gore Vidal called “the most beautiful view in the world”. Or stroll the terraced gardens, regarded as one of the most stunning examples of English style landscapes in Europe.</p>
            <p>More information is available on <a href="http://www.villacimbrone.com/en/tour.php">Villa Cimbrone's website</a></p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <h3 class="text-center">Villa Rufolo</h3>
            <p>Right off the Piazza, Villa Rufolo is famous for it's lush gardens and concerts. You can wander the perfectly kept gardens with their views of the coast. Or take in one of the concerts the Ravello arts society organizes in the gardens and the Annunziata Historic Building.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <h3 class="text-center">Capri</h3>
            <p>Just off of Sorrento and a short boat ride from Atrani or Amalfi lies the beautiful island of Capri. The island served as a retreat from Roman city life for the Emporor Tiberius who built numerous Villas on the island. The island now plays home to two small towns, Capri and Anacapri and offers hiking resturants and shopping. However what Capri is most famous for are the waters surronding it, you can journey by boat to see the White Grotto, or world famous Blue Grotto, as well as the picturesque Faraglioni.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-5 col-md-offset-1 block-col">
          <div class="block">
            <h3 class="text-center">Hiking</h3>
            <p>With it's breathtaking coastal views and relatively undeveloped mountain sides the hiking along the Amalfi Coast is unrivaled. Sentiero degli dei, or Path of the Gods is the most famous hike between Bomerano and Positano, cutting through mountain gorges and skirting precarious cliffsides all while offering panoramic views of the mediteranian. Bomerano and Positano are reachable by buses, with connections in Amalfi.</p>
          </div>
        </div>
        <div class="col-md-5 block-col">
          <div class="block">
            <img class="image-top" src="/images/caserta.jpg" />
            <h3 class="text-center">Reggia di Caserta</h3>
            <p>From Naploli it's a short train ride to Caserta where Gabriella's parents are from. There in the former seat of the Kingdom of Naples is the Reggia di Caserta, home to the Bourbon kings of Naples during the Baroque era. Noted as one of the largest (47,000 square meters) and most beautiful palaces in the world and a perfect example of Baroque era opulence. The splendor of the palace inside is only matched by the 120 hectare park behind it, home to miniture castles and artifical ponds in which the princes would practice their land and naval warfare, as well as stunning fountains and botanical gardens.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-3 col-md-offset-1 block-col">
          <div class="block">
            <h3 class="text-center">Pompeii</h3>
            <p>To the north of the Amalfi coast lie the ruins of the ancient Roman cities of Pompeii and Erculanum. Burried in ash after the erruption of Mt. Vesuvius these towns have been preserved for centuries giving you a glimpse at how Romans lived, as well as the horrible tragady. Pompeii is reachable by train from Sorrento or Napoli.</p>
          </div>
        </div>
        <div class="col-md-4 block-col">
          <div class="block">
            <img class="image-top" src="/images/vietpottery.jpeg" />
            <h3 class="text-center">Vietri Sul Mare</h3>
            <p>The Amalfi coast is known for many things, amongst them it's beautry and it's world famous ceramnics. While all the towns along the coast have their own locally made products Vietri offers shop after shop with an un-parelleled selection. Vietri is on the Sita bus line towards Salerno.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <h3 class="text-center">Campania Artecard</h3>
            <p>Especially if you're going to be in the Campania region for a few extra days, finding </p>
            <p>For more information visit <a href="http://www.campaniartecard.it/en/">Campania Artecard's website</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row block-row">
        <div class="col-md-6 col-md-offset-1 block-col">
          <div class="block">
            <img class="image-top" src="/images/pizza.jpg" />
            <h3 class="text-center">Mimi Bar Pizzeria</h3>
            <p>You haven't eaten pizza until you've eaten pizza in Italy, and while each region has their own specialty the Napolitano style with its thin crispy crust and delicious toppings is by far our favorite. Tucked away just off the town square Mimi makes up for their lack of a view with delicious food and rustic ambiance.</p>
          </div>
        </div>
        <div class="col-md-4 block-col">
          <div class="block">
            <h3 class="text-center">Ristorante Villa Maria</h3>
              <p>You would think you're in heaven sitting on the patio of Ristorante Villa Maria, shaded by old trees and vines while drinking in the view of the surrounding mountains as well as an excellent glass of wine. The menu features local specialties like Spaghetti alle vongole made with vegetables sourced from the resturant's own organic garden.</p>
          </div>
        </div>
      </div>
      <div class="row block-row">
        <div class="col-md-4 col-md-offset-1 block-col">
          <div class="block">
            <h3 class="text-center">Al Ristoro del Moro</h3>
            <p>A few minutes walk out of the center of town.</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <h3 class="text-center">La Strada</h3>
            <p>In the small town of Praiano</p>
          </div>
        </div>
        <div class="col-md-3 block-col">
          <div class="block">
            <h3 class="text-center">La Terra</h3>
            <p>About an hour from Ravello near the mountain town of Nocelle, La Terra offers delicious food with a view of the medeterranian from it's position perched on the cliffs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
