<div class="col-xs-12">
	<div class="row">
		<h1 class="col-xs-12 col-sm-10 col-sm-offset-1">Registry</h1>
	</div>
	<div class="row">
		<p class="col-xs-12 col-sm-10 col-sm-offset-1 section">What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, and so, more than anything we would simply enjoy your presence. (We mean it!)</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 section">
			<p>That being said, if you do want to get us a little something we've created a wedding registry on <a href="https://smile.amazon.com/wedding/registry/3VR5AOKDXNC8S" target="_new"><img class="logo-image" src="/images/amazon_logo.png" alt="amazon" /></a>.</p>
		</div>
	</div>
</div>