<h1>Registry</h1>
<div class="row">
<p class="col-xs-12">What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, and so, more than anything we would simply enjoy your presence. (We mean it!)</p>
</div>
<div class="row">
<p class="col-xs-12">We are registered</p>
</div>
<div class="row">
	<ul class="col-xs-10 col-xs-offset-1">
		<li>Crate and Barrel</li>
		<li>Williams Sonoma</li>
	</ul>
</div>
<div class="row">
<p class="col-xs-12">Please send any gifts to our home in Boston, as we will not be able to bring them with us from Italy.</p>
</div>