<div class="row">
	<h1 class="col-xs-4 col-xs-offset-4">Registry</h1>
</div>
<div class="row">
<p class="col-xs-12 col-sm-10 col-sm-offset-1">What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, and so, more than anything we would simply enjoy your presence. (We mean it!)</p>
</div>
<div class="row">
	<p class="col-xs-12 col-sm-10 col-sm-offset-1">If you do want to get us a little something we're busy registering at all our favorite places and will put links to our registries here.</p>
</div>