<hr />
<h1 class="row">Rest Your Head</h1>
<div class="row info">
    <p class="col-md-10 col-md-offset-1 text-center">We will be staying in Ravello (exact location tbd and to be updated here)- we recommend you do too. Buses and ferries can be used to get to other towns on the coast for visits. There are no shortage of places to stay in Ravello, we recommend you book early. Here are a few recommendations to get you started:</p>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h2>Graal Hotel</h2>
    <div class="more-info">
      <div>
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      </div>
      <div>
        <a target="_blank" href="http://www.tripadvisor.com/Hotel_Review-g194873-d235961-Reviews-Graal_Hotel_Ravello-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="graal hotel tripadvisor">TripAdvisor Reviews</a>
      </div>
      <div>
        <a target="_blank" href="http://www.hotelgraal.eu/" data-track-event="click" data-track-label="graal hotel website">Graal Hotel website</a>
      </div>
    </div>
    <p>Very near to the center of town, Graal Hotel offers excellent hillside views from their rooms and pool. About a 5 minute walk to the church and an 15 minute walk to the reception venue Graal Hotel offers convince that is lost with the hotels outside of town. Book directly and mention Gabriella and Chris' wedding to receive 10% off 3+ nights stay.</p>
  </div>
  <div class="col-md-3 middle">
    <h2>Villa Piedimonte</h2>
    <div class="more-info">
      <div>
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      </div>
      <div>
        <a target="_blank" href="http://www.tripadvisor.com/Hotel_Review-g194873-d8134830-Reviews-Villa_Piedimonte-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="villa piedimonte tripadvisor">TripAdvisor</a>
      </div>
      <div>
        <a target="_blank" href="http://www.villapiedimonte.com/en/camere-servizi/" data-track-event="click" data-track-label="villa piedimonte website">Villa Piedimonte website</a>
      </div>
    </div>
    <p>A bit further away, but with more spacious, Villa Piedimonte still offers spectacular views from and a relaxing pool. It's about a 15 minute uphill to the center of town.</p>
  </div>
  <div class="col-md-3">
    <h2>Belmond Hotel Caruso</h2>
    <div class="more-info">
      <div>
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      </div>
      <div>
        <a target="_blank" href="http://www.tripadvisor.com/Hotel_Review-g194873-d235960-Reviews-Belmond_Hotel_Caruso-Ravello_Amalfi_Coast_Campania.html" data-track-event="click" data-track-label="hotel caurso tripadvisor">TripAdvisor Reviews</a>
      </div>
      <div>
        <a target="_blank" href="http://www.belmond.com/hotel-caruso-amalfi-coast/" data-track-event="click" data-track-label="hotel caruso website">Hotel Caruso website</a>
      </div>
    </div>
    <p>The site of our reception, Hotel Caruso, for those looking to splurge on a once in a lifetime experience. Formally an 11th century palace, the hotel is run by the Belmond hotel chain, known for their opulent retreats. Number 1 rated on TripAdvisor you'll defiantly be wowed.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Vacation Rentals</h2>
      <div class="more-info">
        <div>
          <a target="_blank" href="http://www.tripadvisor.com/VRACSearch?geo=194873" data-track-event="click" data-track-label="tripadvisor vacation rentals">TripAdvisor</a>
        </div>
        <div>
          <a target="_blank" href="https://www.airbnb.com/s/Ravello--Italy" data-track-event="click" data-track-label="airbnb">Airbnb</a>
        </div>
      </div> 
      <p>Vacation rentals are the most affordable option on the coast, great for groups, and come in a variety of options like cozy apartments or large villas with a pool. TripAdvisor (we swear Gabriella doesn't get a cut!) and Airbnb have the most options in the area. Beware the that the terrain is hilly and the map deceptive. Places are further away in distance and elevation than they look! Many homes are 10+ flights of stairs from the main road. We recommend asking before booking.</p>
  </div>
</div>