<hr />
<h1 class="row">Getting There</h1>
<div class="row">
  <p class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">Wish you could teleport across the Atlantic? Us, too. Here are the next best options.</p>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-5 col-lg-offset-1 text-center">
  	<img src="/images/italymap.png" width="90%" />
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4">
  	<h3 class="row">Napoli Airport Italy <em>Capodichino</em> (NAP)</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-plane fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Napoli is the closest airport. Or let la dolce vita find you as you explore Bella Italia first. Flying into Roma's airport, Fiumicino&nbsp;–&nbsp;Aeroporto Internazionale Leonardo da Vinci (FCO), will give you a chance to see the City of the Seven Hills. After you're done exploring it is about 2 hours by train or car to reach Napoli.</p>
  		</div>
  	</div>
  	<h3 class="row">Linea a Monte del Vesuvio</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-train fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Trenitalia offers connections between all the major cities in Italy. To get to Ravello via public transportation take the Itercity or Regionale (40 minutes) train from the Naples Centrale Station to Salerno. From Salerno the SITA bus will take you to Ravello, but you will need to switch lines in Amalfi. Alternatively see information below for cab services from Salerno to Ravello.</p>
        <p>Bus tickets have to be bought in advance and can be found at caffe bars and Tabacchi.</p>
        <p>Schedules are available online from <a target="_blank" href="http://www.trenitalia.com/tcom-en">Trenitalia</a> and <a target="_new" href="http://www.sitasudtrasporti.it/orari">SITA&nbsp;SUD</a>.</p>
  		</div>
  	</div>
  	<h3 class="row">Strada Statale 163</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-car fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>You can pick up a rental car at any airport and the highways in Italia are easy enough. However, the drive along the Amalfi coast while beautiful is narrow, winding, and terrifying. Also the towns on the coast are mostly car free; parking is limited and can only be found on the outskirts of town. We advise that you avoid driving the coast and ditch the car in Napoli if possible.</p>
        <p>If you want to splurge, a car service from Napoli to Ravello is €150-180 each way. We recommend <a target="_blank" href="http://positanocarservice.com/">Positano&nbsp;Car&nbsp;Service</a> or <a target="_blank" href="http://www.jackthedriver.com/">Jack&nbsp;the&nbsp;Driver.</a></p> 
  		</div>
    </div>
    <h3 class="row">Traghetti e Aliscafi</h3>
    <div class="row">
      <div class="col-xs-2 text-center icon">
        <span class="fa fa-ship fa-3x"></span>
      </div>
      <div class="col-xs-10">
        <p>The closest ferry port to Ravello is in Amalfi. From there you can get a ferry to Capri, Positano, Sorrento, Salerno, or Ischia. Sorrento and Salerno also have connections on to Napoli and other cities. Ferries come less frequently than buses, but we understand if you cannot resist the call of the sea.</p>
        <p>You can find Amalfi Coast ferry schedules online at <a target="_blank" href="http://www.capri.com/en/ferry-schedule?from=amalfi&to=capri">capri.com</a>, further information can be found <a target="_blank" href="http://www.napoliunplugged.com/naples-maritme-transportation">here</a></p>
      </div>
    </div>
  	</div>
  </div>
</div>