<hr />
<h1 class="row">Getting There</h1>
<div class="row">
  <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
  	<img src="/images/italymap.png" width="95%" />
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4">
  	<h3 class="row">Naples International Airport (NAP)</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-plane fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Flights into Naples come from around Europe and the eastern US.</p>
  		</div>
  	</div>
  	<h3 class="row">Linea a Monte del Vesuvio</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-train fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Trenitalia trains connect Naples Central to Salerno. From Salerno you can reach Ravello via the SITA bus line.</p>
  		</div>
  	</div>
  	<h3 class="row">Strada Statale 163</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-car fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>The drive along the Amalfi coast is beautiful, narrow, winding, and terrifying. We'd advise that you avoid driving, however if you do decide to drive we'd recomend you rent a small Italian car.</p>
  		</div>
    </div>
    <h3 class="row">Metrò del Mare</h3>
    <div class="row">
      <div class="col-xs-2 text-center icon">
        <span class="fa fa-ship fa-3x"></span>
      </div>
      <div class="col-xs-10">
        <p>Hydrofoils provide ferry service between towns along the coast and occasionally from Sorrento and Napoli. Generally ferries will be less convinent than busses, but we understand if you cannot resist the call of the sea.</p>
      </div>
    </div>
  	</div>
  </div>
</div>
<h2 class="row text-center">Stay</h2>
<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <div class="block">
      <h3 class="text-center">Hotel something</h3>
      <h4 class="text-center">Ravello</h4>
      <div class="text-center">
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      </div>
      <p>Right in the heart of Ravello and only a few steps from Hotel Caruso. This hotel offers the best location if you're looking for minimal stumble home distance.</p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="block">
      <h3 class="text-center">Vacation Rentals</h3>
      <p>Whether its a noble and stately villa overlooking the sea or an apartment tucked on a quiet side street in Ravello or one of the neighboring communities vacation rentals are a great option for finding places to stay along the Amalfi Coast. Especially if you're traveling with family or friends there's something comforting about coming back to a house at the end of the night, and this comfort often comes cheaper than a similar hotel. Sites like TripAdvisor and Home Away have great listings for properties in the area, we would recomend that you keep the hilly terrain of the region in mind. After all even a "short" walk up ten flights of stairs can be a lot to take on in the morning.</p>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="block">
      <h3 class="text-center">Belmond Hotel Caruso</h3>
      <h4 class="text-center">Ravello</h4>
      <div class="text-center">
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>L
      </div>
      <p>The Belmond hotel chain offers unforgettable retreats, seaside retreats, and train excursions. Hotel Caruso is no exception, formally an 11th century palace the hotel wows visitors with it's panoramic views of the medetarianian from it's infinity pool and terraced gardens. </p>
    </div>
  </div>
</div>