<hr />
<h1 class="row">Getting There</h1>
<div class="row">
  <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
  	<img src="/images/italymap.png" width="100%" />
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4">
  	<h3 class="row">Naples International Airport (NAP)</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-plane fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Flights into Naples come from around Europe and the eastern US.</p>
  		</div>
  	</div>
  	<h3 class="row">Linea a Monte del Vesuvio</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-train fa-3x"></span>
  		</div>
  		<div class="col-xs-10 info">
  			<p>Trenitalia trains connect Naples Central to Salerno. From Salerno you can reach Ravello via the SITA bus line.</p>
  		</div>
  	</div>
  	<h3 class="row">Strada Statale 163</h3>
  	<div class="row">
  		<div class="col-xs-2 text-center icon">
  			<span class="fa fa-car fa-3x"></span>
  		</div>
  		<div class="col-xs-10">
  			<p>The drive along the Amalfi coast is narrow and winding and we'd advise that you avoid driving. However if you do decide to drive we'd recomend you rent a smaller car.</p>
  		</div>
  	</div>
  </div>
</div>
<h2 class="row text-center">Stay</h2>
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <div class="block">
      <h3 class="text-center">Hotel something <small>Ravello</small></h3>
      <p>Right in the heart of Ravello</p>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="block">
      <h3 class="text-center">Vacation Rentals</h3>
      <p>Especially</p>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="block">
      <h3 class="text-center">Belmond Hotel Caruso</h3>
      <h4 class="text-center">Ravello</h4>
      <div class="text-center">
        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>L
      </div>
      <p></p>
    </div>
  </div>
</div>