#about {
  h2 small {
    font-size:1.5em;
    font-family:'mr_sheffieldregular', cursive;
  }
  ul{
    list-style: none;
  }
  p {
    margin-top: 1em;
  }
  img {
    border: 2px solid white;
    padding: 0;
    border-radius: 4px;
  }
}