#events {
  padding-bottom: 3em;
  p {
    padding-bottom: 1em;
  }
  .control {
    cursor: pointer;
    .indicator {
      display: block;
      margin-top: -8px;
      border: 2px solid white;
      height: 15px;
      width: 15px;
      margin-left: 50%;
      border-radius: 50%;
      background-image: url('/images/slate_blue.jpg');
    }
  }
  .control.active {
    .indicator {
      background-image: none;
      background-color: white;
    }
  }
}
#festive-carousel {
  .carousel-inner {
    border: 2px solid white;
    height: 300px; 
    overflow: hidden;
  }
}
.festive-content {
  h2 {
    color: rgb(81, 99, 111);
  }
  h3 {
    font-size: 30px;
    margin-bottom: -5px;
    margin-top: 27px;
    color: rgb(81, 99, 111);
    font-family: mr_sheffieldregular, cursive;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  .image {
    overflow: hidden;
  }
  img {
    height: 296px;
  }
  .festive-content-inner {
    overflow-y: hidden;
    height: 296px;
  }
  .festive-time {
    time, p {
      font-size: 16px;
    }
  }
}