#ravello {
	background-image: url('/images/geometry.jpg');
	color: $grey-color;
    height: 360em;
	hr {
		border-color: $grey-color;
	}
	#location-carousel a.control {
		text-decoration: none;
		color: $grey-color;
		cursor: pointer;
	}
	#location-carousel a.control.active {
		text-decoration: underline;
		font-weight: bold;
	}
	.block-row {
		display: table;
	}
	.block-col {
		display: block;
    	vertical-align: top;
    	padding-left: 10px;
    	padding-right: 10px;
		float: none;
	}
	p {
		font-size: 18px;
	}
	.block {
		background-color: $grey-color;
		color: white;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 20px;
    	width: 100%;
    	height: 100%;
    	display: inline-block;
    	box-shadow: 0px 1px 10px black;
    	h3 {
    		margin-left: 10px;
    		margin-right: 10px;
    	}
        h4 {
            margin-left: 10px;
            margin-right: 10px;
        }
    	p {
    		margin-left: 10px;
    		margin-right: 10px;
    		padding-bottom: 10px;
    	}
    	.image-top {
    		width: 100%;
    		margin-top: -20px;
    	}
    	.image-bottom {
    		width: 100%;
    		margin-top: 20px;
    		margin-bottom: 10px;
    	}
    	.more-info {
    		margin-left: 10px;
    		margin-right: 10px;
    		margin-bottom: 1.5em;
    		margin-top: 0.5em;
    		font-size: medium;
    		address, .price, .hours {
    			margin: 0;
    			color: $dark-grey;
    		}
    		a+a {
    			padding-left: 5px;
    			border-left: 1px solid white;
    		}
    	}
    	a {
    		color: white;
    		text-decoration: underline;
    	}
	}
}
@media(min-width: 992px){
    #ravello {
        height: 150em;
        .block-col {
          display: table-cell;
        }
    }
}