#registry {
	background-image: url('/images/backgrounds/road_leave.jpg');
	background-position: bottom center;
	background-size: cover;
  	background-repeat: no-repeat;
	color: $grey-color;
	min-height: 1300px;
	padding-top: 2em;
	h1 {
		text-align: left;
	}
	hr {
    	border-color: $grey-color;
	}
	dd {
		margin-left: 1em;
	}
	.section {
		color: $dark-grey;
		background-color: rgba(255,255,255,0.6);
		a {
			color: $dark-grey;
			text-decoration: underline;
		}
	}
	.logo-image {
		display: inline;
		height: 1em;
		margin: 0.3em 1px 0 0;
	}
}