#registry {
	background-image: url('/images/backgrounds/road_leave.jpg');
	background-position: bottom center;
	background-size:   cover;
  background-repeat: no-repeat;
	color: $grey-color;
	min-height: 1300px;
	padding-top: 2em;
	h1 {
		text-align: left;
	}
	hr {
    border-color: $grey-color;
	}
}