#travel {
	background-image: url('/images/geometry.jpg');
	color: $grey-color;
	.vert-col {
		display: inline-block;
		float: none;
		vertical-align: middle;
		margin-left: -4px;
	}
	hr {
		border-color: $grey-color;
	}
	.info {
		border-bottom: 2px solid $grey-color;
	}
	a {
		text-decoration: underline;
		color: $grey-color;
	}
	p {
		font-size: 18px;
	}
}