---
layout: default
sections:
  -
    name: About Us
    id: about
    content: about_us.html
  -
    name: Gallery
    id: gallery
    content: gallery.html
  -
    name: Location
    id: location
    content: location.html
    before: italy
---
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<img src="/images/ring_profile.png" alt="Ring" />
				</button>
				<a class="navbar-brand" href="/">Gabriella &amp; Chris</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% for item in page.sections %}
					<li><a href="#{{ item.id }}">{{ item.name }}</a></li>
				{% endfor %}
			</ul>
			</div>
		</div>
	</nav>
</header>
{{ content }}
{% for item in page.sections %}
{% if item.before %}
<div class="container cutin">
	{% include cutins.html cutin=item.before %}
</div>
{% endif %}
<section>
<div class="container-fluid section" id="{{ item.id }}">
<h1>{{ item.name }}</h1>
{% include {{item.content}} %}
</div>
</section>
{% endfor %}